* {
  font-family: "Poppins";
}

.tires-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.tires-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.TiresList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
